[submodule "third_party/tinycbor"]
	path = third_party/tinycbor
	url = https://github.com/sofarocean/tinycbor
[submodule "bm_common_messages"]
	path = bm_common_messages
	url = https://github.com/bristlemouth/bm_common_messages.git
